*.jar
*.jar.disabled
mods/dungeons2/logs/
mods/hats/Favourites/
.mixin.out
/astralsorcery/
backups/
cache/
crash-reports/
fonts/
journeymap/
llibrary/
local/
logs/
resourcepacks/
saves/
screenshots/
server-resource-packs/
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.logs
*.dll
options.txt
realms_persistence.json
usercache.json
usernamecache.json
minecraftinstance.json
config/splash.properties
config/jei/worldSettings.cfg
optionsof.txt
optionsshaders.txt
shaderpacks/
TombManyGraves/friends.fdat
