# Configuration file

balancing {
    # Allows shards with the same entity type to be combined in an anvil. It is a direct addition and mainly intended for co-op play. [default: true]
    B:allowShardCombination=true

    # Allows Shards to absorb spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # Enables a convenience recipe that allows you to reset the stats of a Soul Shard. [default: true]
    B:convenienceReset=true

    # The cooldown time set in "ShardTiers.json" should use seconds instead of ticks. Allows finer control over tiers.
    # 1 second = 20 ticks
    # I suggest not changing this unless you have edited the configs. [default: true]
    B:cooldownUsesSeconds=true

    # Count mobs spawned by a Soul Cage towards Shard kills. [default: true]
    B:countCageBornForShard=true

    # Allows bosses to be spawned. This is probably the worst thing you can do to your instance. [default: false]
    B:enableBosses=false

    # Mobs spawned via a Soul Cage will drop experience upon death. [default: true]
    B:enableExperienceDrop=true

    # Forces Soul Cages to require a Redstone signal in order to spawn entities. [default: false]
    B:forceRedstoneRequirement=false

    # Requires the player who put the shard into the Soul Cage to be online for it to be active. [default: false]
    B:requireOwnerOnline=false

    # Amount of souls to add when absorbing a spawner. [range: 0 ~ 1024, default: 200]
    I:spawnerAbsorptionBonus=200
}


client {
    # Adds a Shard for each enabled mob to the creative tab. [default: false]
    B:addShardsForAllMobs=false

    # Adds A shards for mobs even if they are blacklisted [default: false]
    B:ignoreBlacklistForTab=false
}


compatibility {
    # The type of spawning mechanic to use for the Soul Cage.
    # Valid values:
    # VANILLA - The standard spawning mechanic.
    # BLOODMAGIC - Requires 100 LP per mob spawned.
    # HARDMODE - Reduces the contained souls of the shard by 1 for each mob spawned. Does not reduce tier. Recommended to disable "countCageBornForShard".
    S:compatibilityType=VANILLA

    # Adds a Tinkers Construct modifier for Soul Stealer. [default: true]
    B:enableSoulStealerModifier=true

    # Amount of LP required for each mob spawned.
    # If this amount is not contained in the LP network, a nausea effect will be applied to the player and the Soul Cage will stop functioning. [range: 0 ~ 2147483647, default: 250]
    I:lpPerMob=250
}


debug {
    # If enabled, additional information will be logged to console. Mostly timing information. [default: false]
    B:debugLogging=false

    # Allows disabled entities to still be spawned by the cage. They are, however, still not obtainable on a shard. [default: false]
    B:enableBlacklistedSpawning=false
}


enchantments {
    # Amount of bonus kills to provide per enchantment level. [range: 1 ~ 5, default: 1]
    I:soulStealerBonus=1

    # ID for the Soul Stealer enchantment. If you have Enchantment ID conflicts, change this. [range: 63 ~ 256, default: 70]
    I:soulStealerID=70

    # Weight of the Soul Stealer enchantment. Higher values make it more common. [range: 1 ~ 10, default: 3]
    I:soulStealerWeight=3
}


##########################################################################################################
# entity list
#--------------------------------------------------------------------------------------------------------#
# Set an entity to false to disable it's ability to be spawned.
##########################################################################################################

"entity list" {
    B:"arcticmobs:arix"=true
    B:"arcticmobs:frostweaver"=true
    B:"arcticmobs:maug"=true
    B:"arcticmobs:serpix"=true
    B:"arcticmobs:wendigo"=true
    B:"arcticmobs:yeti"=true
    B:"astralsorcery:entityflare"=true
    B:"astralsorcery:entityliquidspark"=true
    B:"astralsorcery:entityspectraltool"=true
    B:"bloodmagic:corrupted_chicken"=true
    B:"bloodmagic:corrupted_sheep"=true
    B:"bloodmagic:corrupted_spider"=true
    B:"bloodmagic:corrupted_zombie"=true
    B:"bloodmagic:mimic"=true
    B:"bloodmagic:sentient_specter"=true
    B:"botania:doppleganger"=true
    B:"botania:pink_wither"=true
    B:"botania:pixie"=true
    B:"demonmobs:asmodeus"=true
    B:"demonmobs:astaroth"=true
    B:"demonmobs:behemoth"=true
    B:"demonmobs:belph"=true
    B:"demonmobs:cacodemon"=true
    B:"demonmobs:pinky"=true
    B:"demonmobs:rahovart"=true
    B:"demonmobs:trite"=true
    B:"desertmobs:clink"=true
    B:"desertmobs:crusk"=true
    B:"desertmobs:cryptzombie"=true
    B:"desertmobs:erepede"=true
    B:"desertmobs:gorgomite"=true
    B:"desertmobs:joust"=true
    B:"desertmobs:joustalpha"=true
    B:"desertmobs:manticore"=true
    B:"desertmobs:sutiramu"=true
    B:"dimdoors:mob_monolith"=true
    B:"draconicevolution:chaosguardian"=true
    B:"ebwizardry:blaze_minion"=true
    B:"ebwizardry:decoy"=true
    B:"ebwizardry:evil_wizard"=true
    B:"ebwizardry:ice_giant"=true
    B:"ebwizardry:ice_wraith"=true
    B:"ebwizardry:lightning_wraith"=true
    B:"ebwizardry:magic_slime"=true
    B:"ebwizardry:phoenix"=true
    B:"ebwizardry:shadow_wraith"=true
    B:"ebwizardry:silverfish_minion"=true
    B:"ebwizardry:skeleton_minion"=true
    B:"ebwizardry:spider_minion"=true
    B:"ebwizardry:spirit_horse"=true
    B:"ebwizardry:spirit_wolf"=true
    B:"ebwizardry:storm_elemental"=true
    B:"ebwizardry:wither_skeleton_minion"=true
    B:"ebwizardry:wizard"=true
    B:"ebwizardry:zombie_minion"=true
    B:"elementalmobs:aegis"=true
    B:"elementalmobs:argus"=true
    B:"elementalmobs:cinder"=true
    B:"elementalmobs:djinn"=true
    B:"elementalmobs:eechetik"=true
    B:"elementalmobs:geonach"=true
    B:"elementalmobs:grue"=true
    B:"elementalmobs:jengu"=true
    B:"elementalmobs:nymph"=true
    B:"elementalmobs:reiver"=true
    B:"elementalmobs:spectre"=true
    B:"elementalmobs:spriggan"=true
    B:"elementalmobs:tremor"=true
    B:"elementalmobs:vapula"=true
    B:"elementalmobs:volcan"=true
    B:"elementalmobs:wraith"=true
    B:"elementalmobs:xaphan"=true
    B:"elementalmobs:zephyr"=true
    B:"embers:ancient_golem"=true
    B:"evilcraft:controlled_zombie"=true
    B:"evilcraft:netherfish"=true
    B:"evilcraft:poisonous_libelle"=true
    B:"evilcraft:vengeance_spirit"=true
    B:"evilcraft:werewolf"=true
    B:"forestmobs:arisaur"=true
    B:"forestmobs:calpod"=true
    B:"forestmobs:ent"=true
    B:"forestmobs:shambler"=true
    B:"forestmobs:treant"=true
    B:"forestmobs:warg"=true
    B:"freshwatermobs:abaia"=true
    B:"freshwatermobs:ioray"=true
    B:"freshwatermobs:silex"=true
    B:"freshwatermobs:strider"=true
    B:"freshwatermobs:thresher"=true
    B:"iceandfire:cyclops"=true
    B:"iceandfire:deathworm"=true
    B:"iceandfire:dragonegg"=true
    B:"iceandfire:dragonskull"=true
    B:"iceandfire:firedragon"=true
    B:"iceandfire:gorgon"=true
    B:"iceandfire:hippocampus"=true
    B:"iceandfire:hippogryph"=true
    B:"iceandfire:icedragon"=true
    B:"iceandfire:if_pixie"=true
    B:"iceandfire:siren"=true
    B:"iceandfire:snowvillager"=true
    B:"iceandfire:stonestatue"=true
    B:"industrialforegoing:pink_slime"=true
    B:"infernomobs:afrit"=true
    B:"infernomobs:cephignis"=true
    B:"infernomobs:gorger"=true
    B:"infernomobs:ignibus"=true
    B:"infernomobs:khalk"=true
    B:"infernomobs:lobber"=true
    B:"infernomobs:salamander"=true
    B:"junglemobs:conba"=true
    B:"junglemobs:concapede"=true
    B:"junglemobs:concapedesegment"=true
    B:"junglemobs:dawon"=true
    B:"junglemobs:geken"=true
    B:"junglemobs:tarantula"=true
    B:"junglemobs:uvaraptor"=true
    B:"junglemobs:vespid"=true
    B:"junglemobs:vespidqueen"=true
    B:"lycanitesmobs:fear"=true
    B:"minecraft:bat"=true
    B:"minecraft:blaze"=true
    B:"minecraft:cave_spider"=true
    B:"minecraft:chicken"=true
    B:"minecraft:cow"=true
    B:"minecraft:creeper"=true
    B:"minecraft:donkey"=true
    B:"minecraft:elder_guardian"=true
    B:"minecraft:ender_dragon"=true
    B:"minecraft:enderman"=true
    B:"minecraft:endermite"=true
    B:"minecraft:evocation_illager"=true
    B:"minecraft:ghast"=true
    B:"minecraft:giant"=true
    B:"minecraft:guardian"=true
    B:"minecraft:horse"=true
    B:"minecraft:husk"=true
    B:"minecraft:illusion_illager"=true
    B:"minecraft:llama"=true
    B:"minecraft:magma_cube"=true
    B:"minecraft:mooshroom"=true
    B:"minecraft:mule"=true
    B:"minecraft:ocelot"=true
    B:"minecraft:parrot"=true
    B:"minecraft:pig"=true
    B:"minecraft:polar_bear"=true
    B:"minecraft:rabbit"=true
    B:"minecraft:sheep"=true
    B:"minecraft:shulker"=true
    B:"minecraft:silverfish"=true
    B:"minecraft:skeleton"=true
    B:"minecraft:skeleton_horse"=true
    B:"minecraft:slime"=true
    B:"minecraft:snowman"=true
    B:"minecraft:spider"=true
    B:"minecraft:squid"=true
    B:"minecraft:stray"=true
    B:"minecraft:vex"=true
    B:"minecraft:villager"=true
    B:"minecraft:villager_golem"=true
    B:"minecraft:vindication_illager"=true
    B:"minecraft:witch"=true
    B:"minecraft:wither"=true
    B:"minecraft:wither_skeleton"=true
    B:"minecraft:wolf"=true
    B:"minecraft:zombie"=true
    B:"minecraft:zombie_horse"=true
    B:"minecraft:zombie_pigman"=true
    B:"minecraft:zombie_villager"=true
    B:"mountainmobs:barghest"=true
    B:"mountainmobs:beholder"=true
    B:"mountainmobs:jabberwock"=true
    B:"mountainmobs:troll"=true
    B:"mountainmobs:wildkin"=true
    B:"mountainmobs:yale"=true
    B:"openblocks:luggage"=true
    B:"openblocks:mini_me"=true
    B:"plainsmobs:feradon"=true
    B:"plainsmobs:kobold"=true
    B:"plainsmobs:maka"=true
    B:"plainsmobs:makaalpha"=true
    B:"plainsmobs:morock"=true
    B:"plainsmobs:quillbeast"=true
    B:"plainsmobs:roc"=true
    B:"plainsmobs:ventoraptor"=true
    B:"plainsmobs:zoataur"=true
    B:"plustic:blindbandit"=true
    B:"plustic:supremeleader"=true
    B:"randomthings:spirit"=true
    B:"roots:deer"=true
    B:"roots:fairy"=true
    B:"roots:sprout"=true
    B:"saltwatermobs:abtu"=true
    B:"saltwatermobs:herma"=true
    B:"saltwatermobs:ika"=true
    B:"saltwatermobs:lacedon"=true
    B:"saltwatermobs:quetzodracl"=true
    B:"saltwatermobs:raiko"=true
    B:"saltwatermobs:roa"=true
    B:"saltwatermobs:skylus"=true
    B:"shadowmobs:chupacabra"=true
    B:"shadowmobs:darkling"=true
    B:"shadowmobs:epion"=true
    B:"shadowmobs:geist"=true
    B:"shadowmobs:phantom"=true
    B:"shadowmobs:shade"=true
    B:"swampmobs:aglebemu"=true
    B:"swampmobs:aspid"=true
    B:"swampmobs:dweller"=true
    B:"swampmobs:ettin"=true
    B:"swampmobs:eyewig"=true
    B:"swampmobs:ghoulzombie"=true
    B:"swampmobs:lurker"=true
    B:"swampmobs:remobra"=true
    B:"swampmobs:triffid"=true
    B:"tconstruct:blueslime"=true
    B:"thermalfoundation:basalz"=true
    B:"thermalfoundation:blitz"=true
    B:"thermalfoundation:blizz"=true
    B:"ultimate_unicorn_mod:alea"=true
    B:"ultimate_unicorn_mod:asmidiske"=true
    B:"ultimate_unicorn_mod:destrier"=true
    B:"ultimate_unicorn_mod:hippocamp"=true
    B:"ultimate_unicorn_mod:kirin"=true
    B:"ultimate_unicorn_mod:knightvagabond"=true
    B:"ultimate_unicorn_mod:magical horse"=true
    B:"ultimate_unicorn_mod:nightmare"=true
    B:"ultimate_unicorn_mod:pegasus"=true
    B:"ultimate_unicorn_mod:reindeer"=true
    B:"ultimate_unicorn_mod:typhon"=true
    B:"ultimate_unicorn_mod:unicorn"=true
    B:"ultimate_unicorn_mod:velvet"=true
    B:"ultimate_unicorn_mod:velvetbunny"=true
    B:"ultimate_unicorn_mod:zombieminion"=true
    B:"wizardry:angel_zachriel"=true
    B:"wizardry:fairy"=true
    B:"wizardry:jump_pad"=true
    B:"wizardry:spirit_blight"=true
    B:"wizardry:spirit_wight"=true
    B:"wizardry:summon_zombie"=true
    B:"wizardry:unicorn"=true
}


general {
    # Displays a durability bar on the shard as an indicator on how close to maxed it is [default: true]
    B:displayDurabilityBar=true

    # Max amount of mobs spawned by a given spawner in a 16 block radius. [range: 0 ~ 256, default: 30]
    I:spawnCap=30
}


